@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light.eot');
    src: url('Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light.woff2') format('woff2'),
        url('Merriweather-Light.woff') format('woff'),
        url('Merriweather-Light.ttf') format('truetype'),
        url('Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Black.eot');
    src: url('Merriweather-Black.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Black.woff2') format('woff2'),
        url('Merriweather-Black.woff') format('woff'),
        url('Merriweather-Black.ttf') format('truetype'),
        url('Merriweather-Black.svg#Merriweather-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Italic.eot');
    src: url('EBGaramond-Italic.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Italic.woff2') format('woff2'),
        url('EBGaramond-Italic.woff') format('woff'),
        url('EBGaramond-Italic.ttf') format('truetype'),
        url('EBGaramond-Italic.svg#EBGaramond-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Medium.eot');
    src: url('EBGaramond-Medium.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Medium.woff2') format('woff2'),
        url('EBGaramond-Medium.woff') format('woff'),
        url('EBGaramond-Medium.ttf') format('truetype'),
        url('EBGaramond-Medium.svg#EBGaramond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.eot');
    src: url('EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff'),
        url('EBGaramond-Regular.ttf') format('truetype'),
        url('EBGaramond-Regular.svg#EBGaramond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.eot');
    src: url('Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold.woff2') format('woff2'),
        url('Merriweather-Bold.woff') format('woff'),
        url('Merriweather-Bold.ttf') format('truetype'),
        url('Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Bold.eot');
    src: url('EBGaramond-Bold.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Bold.woff2') format('woff2'),
        url('EBGaramond-Bold.woff') format('woff'),
        url('EBGaramond-Bold.ttf') format('truetype'),
        url('EBGaramond-Bold.svg#EBGaramond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Regular.eot');
    src: url('Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Regular.woff2') format('woff2'),
        url('Merriweather-Regular.woff') format('woff'),
        url('Merriweather-Regular.ttf') format('truetype'),
        url('Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Italic.eot');
    src: url('Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Italic.woff2') format('woff2'),
        url('Merriweather-Italic.woff') format('woff'),
        url('Merriweather-Italic.ttf') format('truetype'),
        url('Merriweather-Italic.svg#Merriweather-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

